.navbar{
    @include flex(center,space-between);
    padding: 32px 16px 30px;
    background:$bg-navbar;
    &__conteuner{
       @include flex(center,space-between);
        flex:2;
    }
    &__log__name{
        display: none;
        @include Lato();
    }
    .navbar__logo{
        width: 41px;
        height: 43px;
        background: url('@img/Logo.png')no-repeat center/cover;
    }
    .navbar__logo__conteuner{
        max-width: 160px;
        @include flex();
    }
    }
    .btn{
        max-width: 119px;
        width: 100%;
        cursor: pointer;
        background: $main__color;
        padding: 9px 10px;
        border-radius: 40px;
        text-align: center;
    .menu{
        /* элементы меню */
        .menu__item{
            display: block;
            padding: 12px 24px;
            color: #333;
            font-size: 20px;
            text-decoration: none;
            a{
                text-decoration: none;
            }
        }
    }    
}
.btn__text--size{
    text-decoration: none;
    color:$white;
    @include text-decoration(15px,1,15px,700);
}
.navigation__menu{
    box-sizing: border-box;
    @include flex(center,flex-end);
    @include sizing__wh(40px, 40px);
    flex:1;
 }
.menu__btn {
    @include flex();
    padding: 0 15px;
    cursor: pointer;
    z-index: 1;
    span{
        @include menu__btn;
        &::before{
            @include menu__btn;
            content: "";
            width: 15px;
            top: -8px; 
            right: 0;       
        }
        &::after{
            @include menu__btn;
            content: "";
            top: 8px;        
        }
    }}

.menu__box {
    @include sizing__wh(291.5px, 379px);
    @include flex(flex-start,center);
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    list-style: none;
    background-color:#333333;
    li{
        border-bottom: 3px solid#3B3B3B;
        @include sizing__wh(100%,88px);
    }
    .menu__item {
        box-sizing: border-box;
        @include text-decoration(26px,1.1,26px,400);
        display: block;
        margin-top:19px;
        padding:14px 0px;
        padding-left: 35px;
        color: white;
        text-decoration: none;
    
        &:hover{
            color:#8D81AC;
            border-left: 8px solid $main__color;
        }
      }
  }
  #menu__toggle{
    opacity: 0;
    &:checked ~ {.menu__box {
            visibility: visible;
            z-index: 1;
            top:107px;}
                .menu__btn {span {
            transform: rotate(45deg);}
        span::after {
            @include menu__span(0,rotate(90deg))
        }
    span::before {
        @include menu__span(0,rotate(0deg))
    }
}}}
