.pricis{
    @include padding(22px,10px);
    @include flex();
    flex-direction: column;
    text-align: center
}
.pricis__title{
    @include text-decoration(28px,1,42px,700);
    color:$white;
    padding: 0 5% 32px;
    &::before{
        display: block;
        background: #645766;
        content: " ";
        height: 2px;
        min-width: 245px;
        margin-bottom: 14px;
    }
}
.conteuner__cards{
    @include flex();
    flex-direction: column;
    gap:18px;
}
.pricis__card{
    box-sizing: border-box;
    @include sizing__wh(257px,457px);
    padding-bottom:67px;
    background:#5F5161;
    opacity: 89%;
    color: $white;
        
    .pricis__card__title{
        padding: 36px 60px;
        text-transform: uppercase;
        background: #695B6A;
        @include text-decoration(24px, 1,24px,400);
    }
    .size__card__title{
        padding: 36px 40px;
    }
    .pricis__card__price{
        @include text-decoration(60px,1,62px,700);
        @include padding(20px,30px);
    }
    .pricis__card__price__discription{
        @include text-decoration(14px,1,16px,400);
        padding-bottom: 38px;
        text-transform: uppercase;
    }
    .pricis__card__price__name{
        @include text-decoration(16px,1,18px,400);
        padding-bottom: 37px;
        &::before{
            margin: 0 auto 30px;
            display: block;
            @include sizing__wh(60px,5px);
            content: " ";
            background:$main__color;
        }
    }
    .pricis__card__btn{
        cursor: pointer;
        box-sizing: border-box;
        background: #776B79;
        padding: 15px 38px;
        border-radius: 40px;
        @include sizing__wh(169px,45px);
        text-transform: uppercase;
        text-decoration: none;
        color:$white;
        @include text-decoration(15px,1,15px,400);
    }
}
.active{
    margin-left: 1px;
    @include sizing__wh(299px,560px);
    background:#463048;
    .pricis__card__title{
        background:#3F2D41;
    }
    .pricis__card__price{
        @include text-decoration(82px,1,84px,700);
    }
    .pricis__card__btn{
        background: #635164;
        @include sizing__wh(190px,52px);
        @include text-decoration(16px,1,18px,400);

    }
    .pricis__card__price__name{
        @include text-decoration(16px,1,18px,400);
        padding-bottom: 83px;
        &::before{
            margin: 0 auto 40px;
        }
    }
}