@media (min-width:1200px){
    .wrapper{
       min-width:1200px;
       max-width: 5000px;
    }
    header{
        background: url('@img/Header.png')no-repeat center/cover;  
    }
    .navbar{
        background:none;
        padding:31px 90px 0;
        &__conteuner{
            position: relative
        }
        &__log__name{
            color:$main__color;
        }
    }
    .navbar__logo__conteuner:hover{
        .navbar__log__name{
            color:#F4F4F4;
        }
        .navbar__logo{
                background: url('@img/Logo-hover.png')no-repeat center/cover;
        }
    }

    .navigation__menu{
        @include sizing__wh(570px,21px);
        right: 283px;
    }
    .menu__box{
        @include text-decoration(16px,1,17px,700);
        li{
            padding-top: 0;
        }
        .menu__item:hover{
            color: $white;
        }
    } 
    .btn{
        box-sizing: border-box;
        height: 37px;
    }
    .btn:hover{
        border: 1px solid $main__color;
        background:$white;
        & .btn__text--size{
            color:$main__color
        }
    }

    .btn__text--size{
        @include text-decoration(16px,1,17px,700);
        padding: 20px 11px;
    }
    .discription{
        h1{
            padding-top: 32px;
            @include text-decoration(82x,1,82px,700);
        }
        .discription__hidden{
            display: block;
        }
        .discription__hidden--min768{
            display: none;
        }
        .discription__slogan{
            max-width: 713px;
            @include text-decoration(30px,1,30px,400)
        }
        .discription__version{
            padding-top: 19px;
            @include text-decoration(16px,1,16px,400)
        }
    }
    .btn--size{
        max-width: 390px;
        height: 62px;
        padding: 19px 49px;
    }
    .size__up{
        @include text-decoration(21px,1,22px,700)
    }
    .revolutionary{
        padding-top: 48px;
    
    .revolutionary__title{
        padding-top: 66px;
    }
    .revolutionary__title{
        @include text-decoration(54px,1,54px,700); 
    }
    .revolutionary__discription{
        @include text-decoration(21px,1,32px,400);
         min-width: 861px;
         padding-bottom: 13px;
    }
    .icons{
        padding-bottom: 70px;
        padding-top: 0;
    }
}
.you-get{
   background: #F4F4F4;
   @include flex(flex-start,space-between);
   flex-direction: row;
   position: relative;
   padding-top: 98px;
   padding-bottom: 0;
}
.you-get__title{
    order: 1;
    @include text-decoration(48px,1,50px,700);
    padding: 0;
    max-width: 100%;
}
.block__title__photo{
    order: 1;
    position: relative;
     @include flex(center,flex-start);
    align-self: stretch;
    flex: 1;
    min-height: 100%;

}
.you-get__items{
    padding-top: 0px;
    padding-right: 2%;
    padding-left: 2%;
   
}
.you-get__photo{
    @include flex(center,flex-end);
    position: absolute;
    bottom: 0;
    left:0;
    order:3;
    max-width: 700px;
    height: 519px;
    padding-left: 0;
  
}
.you-get__block{
    width: 540px;
    padding-bottom: 35px;
    padding-left: 11%;
    padding-right: 5%;
}
.you-get__slogan{
    padding-bottom: 17px;
}

.you-get__description{
    max-width: 405px;
    height: 77px;
}

.partners__title{
    padding-top: 108px;
}
.partners__block{
    @include flex(center,space-between);
    padding: 81px 4% 0px;
}
.partners__information{
    flex-basis: 29%;
    padding-bottom: 114px;
    @include flex(center,space-between);
    p{
        max-width: 348px;
        max-height: 62px;
        padding: 0; 
    }
}
.partners__discription{
    margin: 0 auto;
    max-width: 887px;
}
.pricis__title{
    padding-bottom:61px;
   &::before{
    margin-bottom: 114px;
   }
}
.active,.possition__block{
    right: 0px; 
}
.conteuner__cards{
    gap:15px;
    padding:0;
}
}