.you-get{
    text-align: center;
    @include flex();
    flex-direction: column;
    position: relative;
    padding-bottom: 500px;
    overflow: hidden;
}
.block__title__photo{
    @include flex();
    
    flex-direction: column;
}
.you-get__title{
    color:$main__color;
    max-width: 230px;
    @include text-decoration(32px,1,38px,700);
    &::before{
        content: '<';
        color: $main__color;
    }
    &::after{
        content: '>';
        color: $main__color;
    }
}
.you-get__items{
    @include flex();
    padding-top: 36px;
    flex-direction: column;
}
.you-get__slogan{
    color:$black;
    @include padding(27px,14px);
    @include text-decoration(16px,1,16px,400);
}
.you-get__description{
    color: $grey;
    max-width: 277px;
    @include text-decoration(14px,1,21px,400);
    padding-bottom: 42px;
    font-family: Lato;
}
.you-get__photo{
    position:absolute;
    bottom: 0;
    
    @include flex(center,flex-start);
    max-width: 100%;

}