*{
    margin: 0;
    padding: 0;
}
@import 'fonts';
@import '_mixin';
@import '_variables';
.wrapper{
    min-width: 320px;
    max-width: 768px;
   @include Montserrat();
}

@import '_navbar';
@import '_revolutionary';
@import '_discription';
@import '_revolutionary';
@import '_you-get';
@import '_partners';
@import '_footer';
@import '_pricing';
@import '_screen768';
@import '_screen1200';
